<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="card container mt-3">
  <div class="title card-header">
    <h4>Listado de Encuestas</h4>
    <button type="button" class="btn btn-primary" routerLink="/add">Crear encuesta</button>
  </div>

  <table *ngIf="listEncuestas.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cant. Preguntas</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listEncuestas" class="table-active card-body">
        <td>{{ item.nombre }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.cantPreg }}</td>
        <td>
          <button routerLink="/survey" type="button" class="btn btn-outline-success btn-sm ms-2">Ver Encuesta</button>
        </td>
        <td>
          <button routerLink="/edit/{{ item.id }}" type="button" class="btn btn-outline-light btn-sm">Editar</button>
          <button (click)="deleteEncuesta(item.id!)" type="button" class="btn btn-outline-danger btn-sm ms-2">X</button>
        </td>
      </tr>
    </tbody>
    </table>
    <h5 *ngIf="listEncuestas.length == 0">No hay encuestas para mostrar</h5>
</div>

