<!-- <app-progress-bar *ngIf="loading"></app-progress-bar> -->
<div class="card container mt-3">
  <div class="title card-header">
    <h4>Encuesta de Turismo</h4>
  </div>
  <div class="table table-hover">
    <form class="card-body " (ngSubmit)="submitEncuesta()">
      
      <div class="md-form form-group mt-3">
        <label for="hospedaje">¿Dónde se hospedó durante su viaje?</label>
        <input type="text" id="hospedaje" class="form-control" name="hospedaje" [(ngModel)]="encuestaRespuestas.hospedaje" />
      </div>

      <div>
        <br>
        <label>¿Cuánto tiempo planeó su estadía?</label>
        <select class="form-control" name="tiempoEstadia" [(ngModel)]="encuestaRespuestas.tiempoEstadia">
          <option value="1-3 días">1-3 días</option>
          <option value="4-7 días">4-7 días</option>
          <option value="Más de una semana">Más de una semana</option>
        </select>
      </div>
      <br>

      <div>
        <label>¿Participó en alguna excursión?</label>
        <div>
          <input type="checkbox" name="excursiones1" value="Excursión a la playa" [(ngModel)]="encuestaRespuestas.excursiones1" /> Excursión a la playa
        </div>
        <div>
          <input type="checkbox" name="excursiones" value="Excursión a montañas" [(ngModel)]="encuestaRespuestas.excursiones" /> Excursión a montañas
        </div>
      </div>
      <br>

      <div>
        <label for="comentarios">Comentarios adicionales</label>
        <div>
          <textarea id="comentarios" name="comentarios" [(ngModel)]="encuestaRespuestas.comentarios"></textarea>
        </div>
      </div>
      <br>

      <div class="btn_survey">
        <div>
          <button type="button" class="btn btn-secondary m-1" (click)="limpiarCampos()">Limpiar</button>
          <button type="submit" class="btn btn-primary m-1">Enviar Encuesta</button>
        </div>
        <div>
          <button routerLink="/main" type="button" class="btn btn-secondary m-1">volver</button>
        </div>
      </div>
      <br>

    </form>
  </div>
</div>
