<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="card container mt-3">
    <div class="title card-header">
        <h4>{{ operacion }} encuesta</h4>
    </div>
    <div class="table table-hover">
        <form [formGroup]="form" (ngSubmit)="addProduct()" class="card-body">
            <input formControlName="name" type="text" class="form-control" placeholder="Nombre de la encuesta">
            <span *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
                El campo nombre es <strong>requerido</strong>
            </span>
            <input formControlName="description" type="text" class="form-control mt-2" placeholder="Descripcion">
            <span *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched">
                El campo descripcion es <strong>requerido</strong>
            </span>
            <input formControlName="price" type="number" class="form-control mt-2" placeholder="Otro">
            <span *ngIf="form.get('price')?.hasError('required') && form.get('price')?.touched">
                El campo otro es <strong>requerido</strong>
            </span>
            <input formControlName="stock" type="number" class="form-control mt-2" placeholder="Otro">
            <span *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched">
                El campo otro es <strong>requerido</strong>
            </span>
            <div class="row mt-2 text-center">
                <div class="col-lg-6">
                    <button routerLink="/main" type="button" class="btn btn-secondary">Volver</button>
                </div>
                <div class="col-lg-6">
                    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>