<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="card container mt-3">
    <div div class="title card-header">
        <h4>{{ operacion }} Encuesta</h4>
    </div>
        
    <div class="table table-hover">
        <form [formGroup]="form" (ngSubmit)="addEncuesta()" class="card-body">
            <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre de la encuesta">
            <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                El campo nombre es <strong>requerido</strong>
            </span>
            <input formControlName="descripcion" type="text" class="form-control mt-2" placeholder="Ingrese descripcion">
            <span *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
                El campo descripcion es <strong>requerido</strong>
            </span>

            <input formControlName="cantPreg" type="number" class="form-control mt-2" placeholder="Ingrese cantidad de preguntas">
            <span *ngIf="form.get('cantPreg')?.hasError('required') && form.get('cantPreg')?.touched">
                Este campo es <strong>requerido</strong>
            </span>
            <span *ngIf="form.get('cantPreg')?.hasError('min')">
                Debe ser mayor o igual a 1.
            </span>
            <span *ngIf="form.get('cantPreg')?.hasError('max')">
                Debe ser menor o igual a 10.
            </span>
            
            <div class="row mt-2 text-center">
                <div class="col-lg-6">
                    <button routerLink="/main" type="button" class="btn btn-secondary">Volver</button>
                </div>
                <div class="col-lg-6">
                    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>
