<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
  <div class="container-fluid bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="logo de la municipalidad">
      <!-- <img src="http://www.minaclavero.gov.ar/style/images/logoturismo.png" alt="logo de la municipalidad seccion turismo"> -->
    </a>
    <div class="navbar-menu">
      <a class="navbar-brand ms-auto" routerLink="/">Inicio</a>
      <a routerLink="/main" class="navbar-brand ms-auto">Encuestas</a>
      <a routerLink="/add" class="navbar-brand ms-auto">Crear encuestas</a>
      <a routerLink="/survey" class="navbar-brand ms-auto">Encuestas(borrar)</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <form class="d-flex ms-auto">
        <input class="form-control me-sm-2" type="text" placeholder="Buscar">
      </form>
    </div>
  </div>
</nav>