#nav{
    background-color: beige;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

img{
    border-radius: 0.5rem;
}

.input{
    background-color: #8bace7;
}

.navbar-menu{
    display: flex;
    justify-content: center;
    width: 50%;
}
.navbar-menu a{
    font-size: 16px;
}
.navbar-menu a:hover{
    transition: all 0.5s ease;
    color: #337ab7; 
};
